.footer__column-link {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    transition: opacity .3s ease-out;
}

.footer__column-link:hover {
    opacity: .7;
}

.footer__column-link:visited {
    color: white;
}
